{# app/Resources/views/inloggen.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
    <div class='text'><h3>{{message }}</h3></div>
        <ul id="navigation">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <a href="registreren">Registreren</a>    
        </ul>
    </body>
</html>